#header_desktop {
  display: none;
}

#header_mobile {
  /* height: calc(1.5rem + 5vh); */
  /* background-color: rgba(0, 0, 0, 0.2); */
}

#menu_icon_container {
  position: fixed;
  top: .5rem;
  right: .5rem;
  /* border: 1px solid red; */
  z-index: 2;
}

#menu_icon {
  /* padding: .5rem; */
  font-size: 2rem;
  cursor: pointer;
  /* z-index: 2; */
}

#mobile_menu {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(
    rgba(56, 148, 190, 1),
    rgba(56, 148, 190, 1)
   );
   z-index: 1;
   transition: all 1.3s;
}

#mobile_menu ul {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

#mobile_menu li {
  padding-top: 1rem;
  font-size: 1.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

main {
  min-height: 85vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

section {
  margin: 5vh 0;
}

#name {
  margin-top: calc(1.5rem + 5vh);
  font-size: 3.1rem;
  letter-spacing: .2rem;
}

#job {
  width: 80%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}