#header_mobile {
  display: none;
}

#header_desktop {
  display: flex;
}

#heading {
  margin: calc(15vh - 3rem) 0 1vh 0;
  font-size: 6rem;
  letter-spacing: .3rem;
}

#introduction {
  font-size: 2rem;
}

#form {
  margin: 8vh 3vw 0 3vw;
}

#loading_message {
  top: 50vh;
  font-size: 1.2rem;
}