#introduction {
  padding: 1rem 2rem;
  background: rgba(65, 159, 202, 0.5);
}

  #form iframe {
    width: 640px;
    max-width: 100%;
    object-fit: cover;
  }

#loading_message {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.85);
}