#header_mobile {
  display: none;
}

#header_desktop {
  display: flex;
}

    #header_desktop li:nth-child(4) {
      border-bottom: 1px solid rgba(240, 240, 240, 0.8);
    }

    #header_desktop li:nth-child(4):hover {
      border-color: rgb(251, 188, 1);
    }

#heading {
  margin: calc(15vh - 3rem) 0 1vh 0;
  font-size: 6rem;
  letter-spacing: .3rem;
}

#introduction {
  margin-top: 1.5rem;
  font-size: 2rem;
}

#portfolio {
  margin-top: 3rem;
}

.project {
  margin: 0 1rem 2rem;
}

  .project:first-child {
      margin-left: 0;
  }

  .project:last-child {
    margin-right: 0;
  }