#header_desktop {
  display: none;
}

#header_mobile {
  display: block;
}

    #header_mobile li:nth-child(4) {
      border-top: 1px solid rgb(251, 188, 1);
    }

main {
  min-height: 85vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

section {
  margin: 5vh 0;
}

#heading {
  margin: calc(1.5rem + 8vh) 0 0 0;
  font-size: calc(2vw + 2rem);
  letter-spacing: .2rem;
  text-align: center;
}

#introduction {
  width: 80%;
  max-width: 300px;
  font-size: calc(2vw + 1rem);
  text-align: center;
}

#portfolio {
  width: 100%;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.project {
  width: 90%;
  margin-bottom: 5rem;
}