body {
  background: 
    linear-gradient(
      rgba(56, 148, 190, 0.75),
      rgba(56, 148, 190, 0.75)
    ),
    url(../../img/code.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#introduction {
  padding: 1rem 2rem;
  background: rgba(65, 159, 202, 0.5);
}

#portfolio {
  display: flex;
  flex-flow: row wrap;
}

.portfolio_icon {
  margin-right: 1rem;
  font-size: .7rem;
  vertical-align: sub;
}

.project {
  width: 28%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

    .project > a:first-child {
      width: 100%;
    }

  .project figure {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
    border: 3px solid rgb(240, 240, 240);
    overflow: hidden;
    cursor: default;
  }
  
    .project figure img {
      width: 100%;
    }

.live_version,
.view_code {
  width: 100%;
  margin-top: .5rem;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  transition: all .2s;
}

.live_version:hover,
.view_code:hover {
  background-color: rgb(251, 188, 1);
  color: rgb(20, 20, 20);
}

.live_version {
  background-color: rgb(240, 240, 240);
  color: rgb(20, 20, 20);
}

.view_code {
  background-color: rgb(20, 20, 20);
  color: rgb(240, 240, 240);
}
